<h1>Shopping Cart</h1>
<form action='/checkout' method="post">
    <p>
        <label>Item:</label>
        <input type="text" name="item"
    </p>
    <input type="submit" name="submit" value="submit">
</form>
